
.fiche-produit-section1{
  width: 100%;
  height: 2200px;
  margin-top: 10%;
  }

  .fiche-produit-titre{
    width: 100%;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Poly', sans-serif;
    font-size: 25px;
    color: #953910;
  }

.fiche-produit-img_plat{
    width: 100%;
    height: 800px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.img_plat{
  width: 30%;
  position: absolute;
  bottom: -47%;
}

.bg_plat{
  width: 47%;
  position: relative;
}

.fiche-produit-texte{
  width: 40%;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: 'Poly', sans-serif;
  font-size: 20px;
  color: #953910;
  margin: auto;
}

.fiche-produit-button{
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fiche-produit-button button{
  width: 200px;
  height: 50px;
  background-color: #F6A605;
  color: white;
  font-family: 'Passion one', cursive;
  font-size: 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.fiche-produit-titre2{
    width: 100%;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Poly', sans-serif;
    font-size: 20px;
    color: #953910;
}

.fiche-produit-liste_ingredients{
  width: 100%;
  height: 300px;
  margin-top: -3%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Poly', sans-serif;
  font-size: 25px;
  color: #953910;
}

.fiche-produit-texte3{
  width: 100%;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Poly', sans-serif;
    font-size: 20px;
    color: #953910;
  text-align: center;
}



.fiche-produit-prix{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Poly', sans-serif;
    font-size: 25px;
    color: #953910;
}